table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  } 

* {
    background-color: #D4B996FF;
}

.imgr {
  width: 100%;
  height: auto;
}